In [1]:
print("cloud data engineering batch 2")

cloud data engineering batch 2

In [9]:
name = "inaam ahmed" # this is a veriable name is a veriable

In [17]:
print(name)

inaam ahmed

In [19]:
type(name)

str

#### Shortcut keys


1. shift + enter call the code

2. ESC + A to add a cell above

3. esc + B to add a cell below

4. esc + M to convert the cell to markdown

In [36]:
age = 26
print(age)
print(type(age))

26
<class 'int'>

### Veriables 

- string = str
- integer = int
- float = flt
- boolean = bool

- veriable " name" can't with number "123". 
- veriable name can't have space " ".
- can use underscore "_" insted of space
- can't use anything expect "_"
- user precise (meaningful) and valid name

Note: can't use the 'reserve words' for veriable name

In [42]:
19 + int("1") # this is a typecasting

20

### Math expressions: Familiar operators

'+'
'-'
'*'
'/'

In [69]:
age

2.65625

In [57]:
age /=4

In [59]:
age

0.65625

In [75]:
print(int(age))

2

In [77]:
age

2.65625

In [9]:
first_name = "inaam"
last_name = "ahmed"

In [10]:
f'{first_name} {last_name}'

'inaam ahmed'